$shark: #21252B;
$grayChat: #A3ABB7;
$light-shark: #282c34;
$white: #ffffff;
$rolling-stone: #787A7E;
$olivine: #95BB5D;
$equator: #E1AF5E;
$cornflower: #57A6EB;
$sunglo: #DF696C;
$muddywaters: #B68E5B;
$lilacbush: #AC70D1;
$java: #1DE9B6;

