.project-page-wrapper {
  &.content-container {
    margin-top: 120px;
  }
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  & > div {
   width: calc(100% / 3);
   margin-bottom: 15px;
  }
  & > div:not(:nth-child(3n+1)) {
    padding-left: 1.5%;
  }
  .project-item {
    display: block;
    background: $shark;
    position: relative;
    overflow: hidden;
    height: 330px;
    padding: 12px;
    & > h4 {
      font-size: 20px;
      font-weight: 600;
      color: $grayChat;
      overflow: hidden;
      height: 44%;
    }
    & > .project-item__cta {
      position: absolute;
      bottom: 12px;
      & > a {
        display: inline-block;
        text-decoration: none;
      }
      & > a:nth-child(2) {
        margin-left: 15px;
      }
    }
  }
  .project-item__techinfo {
    margin-top: 17px;
    & > span {
      padding: 8px 11px;
      border-radius: 38px;
      font-size: 14px;
      margin-right: 7px;
      letter-spacing: 0.7px;
      display: inline-block;
    }
    & > span.techchip{
      &--react {
        background-color: $lilacbush;
      }
      &--firebase {
        background-color: $muddywaters;
      }
      &--redux {
        background-color: $cornflower;
      }
      &--HTML, &--Nextjs {
        background-color: $sunglo;
      }
      &--CSS, &--SCSS {
        background-color: $olivine;
      }
      &--VanillaJS {
        background-color: $equator;
      }
      &--react-native {
        background-color: $java;
      }
    }
  }
}

@media screen and (max-width: $screen-xl) {
  .project-list {
    width: 90%;
    & > div {
      width: calc(100% / 2);
    }
    & > div:not(:nth-child(3n+1)) {
      padding-left: 0;
    }
    & > div:not(:nth-child(2n+1)) {
      padding-left: 1.5%;
    }
  }
}
@media screen and (max-width: $screen-md) {
  .project-page-wrapper {
    &.content-container {
      margin-top: 110px;
    }
  }
  .project-list {
    width: 70%;
    & > div {
      width: 100%;
    }
    & > div:not(:nth-child(2n+1)) {
      padding-left: 0;
    }
  }
}
@media screen and (max-width: $screen-sm) {
  .project-list {
    width: 90%;
    & > div {
      width: 100%;
    }
  }
}