.skill-page-wrapper {
  &.content-container {
    margin-top: 120px;
  } 
}

.skill-page__list {
  width: 60%;
  margin: auto;
}

.skill-page__listitem {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  & > .skill-title-wrapper {
    width: 23%;
    display: flex;
    align-items: center;
    & > p {
      font-size: 20px;
      font-weight: 600;
      color: $grayChat;
      
      margin-left: 10px;
      line-height: 1;
    }
    & .skill-logo {
      text-align: center;
      width: 31px;
      height: 25px;
      display: flex;
      align-items: center;
      & > img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  & > .skill-empty {
    margin-left: 10px;
    height: 27px;
    flex: 1;
    background: $shark;
    & > .skill-filled {
      background: $grayChat;
      width: 0;
      height: 100%;
      transition: width 2s ease-in-out;
      position: relative;
      & > span {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

@media screen and (max-width: $screen-lg) {
  .skill-page__list {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: $screen-md) {
  .skill-page-wrapper {
    &.content-container {
      margin-top: 100px;
    } 
  }
  .skill-page__list {
    margin-bottom: 20px;
  }
  .skill-page__listitem {
    display: block;
    .skill-title-wrapper {
      width: auto;
      display: flex;
      align-items: center;
      margin: 0 auto 10px;
      justify-content: center;
    }
    .skill-empty {
      margin-left: 0;
    }
  }
}