.social-icon-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 50px;
  border-left: none;
  & > a {
    width: 100%;
    display: block;
    padding: 20px 15px;
    cursor: pointer;
    & > img {
      width: 30px;
      height: 30px;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .social-icon-wrapper {
    display: none;
  }
}